@import "src/Styles/fonts";
@import "src/Styles/variables";
@import "src/Styles/functions";

.connectContainer {
  height: auto;
  @extend %fontMontserrat;
   margin: rem(80) rem(30);
}

.connectTitle {
  width: auto;
  margin: 0 20px 0 0 ;
  text-indent: 40px;
  color: #030c3a;
  font-weight: normal;
  display: inline;
}
.animationContainer {
  display: inline;
}
.aboutMe {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.connectContents {
  margin: rem(20)  rem(30);
  font-size: 1.2rem;
  line-height: 1.875rem;
}

.meContainer {
  height: rem(280);
  width: rem(200);
  overflow: hidden;
  border-radius: 5%;
  border: 3px solid  rgba(45,117,112, .6);
  margin: rem(50) rem(10) 0 ;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
  margin: 0px 00px;
  height: 300px;
}

.infoBlock {
  width: 68%;
  margin: rem(10) auto rem(50);
  padding: rem(5);
  border-radius: 5px;
  color: #183e3b;
  text-align: left;
  font-weight: bold;
}

.socialLinks{ 
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  a {
    margin: rem(50) auto 0;
    font-size: rem(22);
    color: $Pink;
    text-decoration: none;
    a:hover {
        color: $Pink; 
    }
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

  #talkbubble {
      width: 100%;
      height: auto;
      background: #3cdfd24f;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    }
    #talkbubble:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 106px;
      width: 0;
      height: 0;
      border-top: 24px solid transparent;
      border-right: 26px solid #3cdfd24f;
      border-bottom: 24px solid transparent;
    }
  

