@import "src/Styles/fonts";
@import "src/Styles/functions";
@import "src/Styles/variables";

.experienceContainer {
    height: auto;
    width: 100%;
    @extend %fontMontserrat;
    margin: rem(40) 0;
}
.experienceContainer > h1 {
    width: 100%;
    margin: 0;
    padding: 30px 0;
    text-indent: 40px;
    color: #030c3a;
    font-weight: normal;
}
.companiesContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin: 0 30px;
}

.companyLogo {
   width: 100%;
   height: 50px;
    object-fit: contain;
}

.jobContainer {
 height: auto;
 max-width: 320px;
 text-align: center;
 margin: 10px;
 box-shadow: 0 2px 15px -3px #00000034,0 10px 20px -2px #0000000a!important;
 padding: 20px;
 border-radius: 10px;
 p{
    color: $Purple;
    font-weight: bold;
    font-size: rem(16);
 
 }
}